
body {
    padding: 20px;
}

.inputFieldsForm {
    min-width: 210mm;
    max-width: 210mm;
}

.card__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: black;
    color: white;
}

.card__header_website-and-tel {
    display: flex;
    justify-content: row;
}

.os__title {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
