
body {
    max-width: 21cm;
    min-width: 21cm;
}

.inputFieldsForm {
    display: flex;
    flex-direction: column;
}

.card__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
    background-color: black;
    color: white;
    margin-bottom: 42px;
}

.card__header_os-title {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.card__header_website {
    display: flex;
    justify-content: row;
}


