
/*
    Elements
    Cards about type of service block/scope
*/
.cards-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
    margin: 6em;
}

.option-card {
    width: 568px;
    height: 300px;
    padding: 32px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    /* Alinhar conteúdo na vertical */
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 1px solid var(--gray-color2);
    box-sizing: border-box;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.option-card.selected {
    width: 568px;
    height: 300px;
    padding: 32px;
    background-color: var(--gray-color1);
    display: flex;
    flex-direction: column;
    /* Alinhar conteúdo na vertical */
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 1px solid var(--gray-color2);
    box-sizing: border-box;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.option-card:hover {
    background-color: rgba(255, 255, 255, 0.1);
    /* Efeito de hover opcional */
}

.option-card img {
    max-width: 100%;
    /* Limitar o tamanho das imagens */
    max-height: 100%;
    margin-bottom: 100px;
    /* Espaço entre a imagem e o texto */
    padding-left: 32px;
    align-self: flex-start;
}

.option-card p {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    color: var(--white-color1);
    padding-left: 1em;
    margin: 0;
    text-align: left;
    /* Garantir que o texto dentro do parágrafo esteja à esquerda */
    align-self: flex-start;
    /* Alinhar o parágrafo à esquerda no card */
}
