.servico-group {
    margin: 6em;
    margin-left: 22em;
    margin-right: 22em;
    border: none;
}

#servico-titulo {
    font-size: 2em;
    margin-bottom: 1em;
}

.servico-fields {
    width: 100%;
    display: flex;
    gap: 2em;
}

.fields-align-servico {
    display: flex;
    flex-direction: column;
}

#tipo-servico {
    width: 600px;
}

#fabricante {
    width: 400px;
}

.servico-fields .inputbox-servico {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    color: var(--gray-color3);
    border-radius: 4px;
    margin-top: 1em;
    border: none;
    border-bottom: 1px solid var(--black-color1);
}

.cliente-group {
    margin: 6em;
    margin-left: 22em;
    margin-right: 22em;
    border: none;
}

#cliente-titulo {
    font-size: 2em;
    margin-bottom: 1em;
}

.cliente-group1, .cliente-group2 {
    width: 100%;
    display: flex;
    gap: 2em;
}

.fields-align-cliente {
    display: flex;
    flex-direction: column;
}

#nome-cliente {
    width: 600px;
}

#contato-cliente {
    width: 300px;
}

#cel-tel-cliente {
    width: 250px;
}

#endereco-cliente {
    width: 700px;
}

#municipio-cliente {
    width: 350px;
}

#uf {
    width: 100px;
}

.cliente-group1 .inputbox-cliente, .cliente-group2 .inputbox-cliente {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    color: var(--gray-color3);
    border-radius: 4px;
    margin-top: 1em;
    border: none;
    border-bottom: 1px solid var(--black-color1);
}

.equipamento-group {
    margin: 6em;
    margin-left: 22em;
    margin-right: 22em;
    border: none;
}

#equip-titulo {
    font-size: 2em;
    margin-bottom: 1em;
}

.equipamento-group1 {
    width: 100%;
    display: flex;
    gap: 2em;
}

.fields-align-equip {
    display: flex;
    flex-direction: column;
}

#n-serie {
    width: 250px;
}

#nome-equipamento {
    width: 600px;
}

#n-chamado {
    width: 300px;
}

.equipamento-group1 .inputbox-equip {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    color: var(--gray-color3);
    border-radius: 4px;
    margin-top: 1em;
    border: none;
    border-bottom: 1px solid var(--black-color1);
}

.equipamento-group2 {
    width: 100%;
    display: flex;
    gap: 2rem;
}

.fields-align-equip-modalidade {
    display: flex;
    flex-direction: column;
}

.modalidade-titulo {
    margin-bottom: 24px;
}

.checkbox-group {
    accent-color: var(--orange-color1);
}

.modalidade-box {
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    margin-left: 2em;
    gap: 1em;
}

.rx, .mg, .ul, .odonto, .vet {
    margin-left: 0.5em;
    margin-right: 1em;
    vertical-align: middle;
}

.fields-align-equip-status {
    display: flex;
    flex-direction: column;
}

.status-equip {
    margin-bottom: 1em;
    color: var(--black-color1);
}

.inputbox-status-equip {
    width: 350px;
    border: none;
    border-radius: 4px;
    border-bottom: 1px solid var(--black-color1);
    color: var(--gray-color3);
    padding: 0.5rem;
    font-size: 16px;
}

.deslocamento-group {
    width: 100%;
    max-width: 100vw;
    background-color: var(--white-color2);
    padding-top: 60px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    margin: 6em;
    margin-left: 0;
    margin-right: 22em;
    padding-left: 22em;
    border: none;
}

.desloc-titulo {
    font-size: 2em;
    margin-bottom: 1em;
    color: var(--black-color1);
}

.deslocamento-ida {
    width: 100%;
    display: flex;
    gap: 2em;
}

.fields-align-desloc-ida {
    display: flex;
    flex-direction: column;
}

.inputbox-desloc-ida {
    width: 100%;
    background-color: transparent;
    border: none;
    border-radius: 4px;
    border-bottom: 1px solid var(--black-color1);
    padding: 0.5rem;
    font-size: 16px;
}

#label-data-ida, #label-hora-inicio-ida, #label-hora-chegada-ida, 
#label-local-origem-ida, #label-local-destino-ida {
    margin-bottom: 1em;
    color: var(--black-color1);
}

#hora-inicio-ida, #hora-chegada-ida {
    width: 80px;
    color: var(--black-color1);
}

#local-origem-ida, #local-destino-ida {
    width: 385px;
    color: var(--black-color1);
}

#data-ida, #data-volta {
    color: var(--black-color1);
}

.deslocamento-volta {
    width: 100%;
    display: flex;
    gap: 2em;
}

.fields-align-desloc-volta {
    display: flex;
    flex-direction: column;
}

.inputbox-desloc-volta {
    width: 100%;
    background-color: transparent;
    border: none;
    border-radius: 4px;
    border-bottom: 1px solid var(--black-color1);
    padding: 0.5rem;
    font-size: 16px;
}

#label-data-volta, #label-hora-inicio-volta, #label-hora-chegada-volta, #label-local-origem-volta, #label-local-destino-volta {
    margin-bottom: 1em;
    color: var(--black-color1);
}

#hora-inicio-volta, #hora-chegada-volta {
    width: 80px;
    color: var(--black-color1);
}

#local-origem-volta, #local-destino-volta {
    width: 385px;
    color: var(--black-color1);
}

.tempo-servico {
    display: flex;
    border: none;
    margin: 6em;
    margin-left: 22em;
    margin-right: 22em;
    gap: 2em;
}

#tempo-titulo {
    font-size: 2em;
    margin-bottom: 1em;
}

.fields-align-time {
    display: flex;
    flex-direction: column;
}

#inputbox-inicio-servico, #inputbox-termino-servico, .inputbox-status-atend, #inputbox-obs {
    width: 100%;
    background-color: transparent;
    border: none;
    border-radius: 4px;
    border-bottom: 1px solid var(--black-color1);
    padding: 0.5rem;
    font-size: 16px;
}

#inputbox-inicio-servico, #inputbox-termino-servico {
    width: 80px;
}

#label-inicio-time, #label-termino-time, #label-status-atend, #label-obs {
    margin-bottom: 1em;
}

.inputbox-status-atend {
    width: 400px;
}

#inputbox-obs {
    width: 555px;
}

.description {
    display: flex;
    flex-direction: column;
    border: none;
    margin: 6em;
    margin-left: 22em;
    margin-right: 22em;
    gap: 2em;
}

#descricao-titulo {
    font-size: 2em;
    margin-bottom: 1em;
}

textarea {
    min-width: 1200px;
    max-width: 1200px;
    min-height: 42px;
    width: 100%;
    background-color: transparent;
    border: none;
    border-radius: 4px;
    border-bottom: 1px solid var(--black-color1);
    padding: 0.5rem;
    font-size: 16px;
}

.buttons-group {
    margin: 6em;
    margin-left: 22em;
    margin-right: 22em;
    display: flex;
    justify-content: space-between;
}

#btn-reset {
    font-size: 1em;
    padding: 1em;
    width: 300px;
    border-radius: 20px;
    
    transition: background-color 0.3s ease-in-out;
    
    border: 1px solid #808080;
    background-color: transparent;
    
}

#btn-reset:hover {
    background-color: #242424;
    color: #fbfbfb;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    
}

#btn-pdf {
    font-size: 1em;
    padding: 1em;
    width: 300px;
    border-radius: 20px;
    transition: background-color 0.3s ease-in-out;
    transition: box-shadow 0.3s ease-in-out;
    border: none;
    background-color: #fc732a;
    color: #fbfbfb;
    
}

#btn-pdf:hover {
    background-color: #fd5900;
    color: #fbfbfb;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease-in-out;
    
}