@import url(form.css);
@import url(elements.css);

/*
    Global variables
*/
:root {
    --black-color1: #121212;
    --black-color2: #242424;
    --gray-color1: #2B2B2B;
    --gray-color2: #8A8A8A;
    --gray-color3: #A0A0A0;
    --white-color1: #FBFBFB;
    --white-color2: #F8F8F8;
    --orange-color1: #D34A00;
    --orange-color2: #fc732a;
}




/*
    RESET Selector
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.logo {
    width: 100%;
    background-image: linear-gradient(to right, var(--black-color2), var(--black-color1));
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 7rem;
}

.banner {
    background-image: linear-gradient(to right, var(--black-color2), var(--black-color1));
    height: 600px;
}




#main-title {
    text-align: center;
    font-family: 'Roboto', sans-serif; 
}

#text {
    font-size: 54px;
    color: var(--white-color1);
    text-align: center;
    font-weight: 300;
}

#text-degrade {
    font-size: 54px;
    background: linear-gradient(to right, #fd945b, #ff8f52, #fd8848, #fd823f, #fc7a34, #fc732a, #ff6715, #ff5900, #D34A00);
    background-clip: text;
    color: transparent;
    font-weight: 300;
}















.modalDelete {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo escurecido */
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content-delete {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}

.close-btn-delete {
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 15px;
}










/* Estilos para o modal */
.modal {
    position: fixed;
    top: 0;
    right: -100%; /* Escondido fora da tela */
    width: 47%;
    height: 100%;
    background-color: #fff;
    box-shadow: -5px 0 15px rgba(0,0,0,0.3);
    transition: right 1s ease;
    z-index: 1000;
    overflow-y: auto;
}

.modal-content {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

/* Para o iframe de preview */
#previewFrame {
    width: 100%;
    height: calc(100vh - 100px); /* altura total menos espaço para o botão */
    border: none;
    padding-top: 20px;
}

/* Exibe o modal na tela */
.modal.show {
    right: 0;
}




#printButton {
    margin-top: 20px;
    margin-left: 40px;
    font-size: 1em;
    padding: 10px;
    width: 200px;
    border-radius: 20px;
    transition: background-color 0.3s ease-in-out;
    transition: box-shadow 0.3s ease-in-out;
    border: none;
    background-color: var(--orange-color2);
    color: var(--white-color1);
    
}

#printButton:hover {
    background-color: #fd5900;
    color: #fbfbfb;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease-in-out;
    
}



#closeButton {
    margin-top: 20px;
    margin-left: 40px;
    font-size: 1em;
    padding: 10px;
    width: 200px;
    border-radius: 20px;
    transition: background-color 0.3s ease-in-out;
    border: 1px solid var(--gray-color2);
    background-color: transparent;
    
}

#closeButton:hover {
    background-color: var(--black-color2);
    color: var(--white-color1);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    
}






.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Efeito de escurecimento */
    backdrop-filter: blur(5px); /* Efeito de desfoque */
    display: none; /* Inicialmente oculto */
    z-index: 9; /* Colocado atrás do modal */
}






















.footer-infos {
    width: 100%;
    height: 80px;
    background-image: linear-gradient(to right, var(--black-color2), var(--black-color1));
    color: var(--white-color1);
    text-align: center;
    justify-content: center;
    padding: 50px 0;
    font-family: 'Roboto', sans-serif; 
    font-weight: 100;
}
