
/* Modal */
#previewModal {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

/* Conteúdo do modal */
#preview-modal-content {
    max-width: 21cm;
    height: 95%;
    padding: 15px;
    
}

/* Iframe dentro do modal */
#previewFrame {
    width: 100%;
    height: 100%;
}

/* Botões no modal */
#preview-modal-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}



