
/* Modal */
#previewModal {
    /* max-width: 21cm; */
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

/* Conteúdo do modal */
#preview-modal-content {
    height: 96%;
    padding: 12px;
}

/* Iframe dentro do modal */
#previewFrame {
    width: 100%;
    height: 100%;
}

/* Botões no modal */
#preview-modal-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 20px;
}

.iframe-window {
    height: 100%;
}

